*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --success-color:green;
    --error-color:red;
}

body{
    text-align: center;
}

.book-wrapper {
    display:grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-auto-rows: 250px;
    gap: 30px 50px;
    text-align: center;
    justify-content: center;
}

.book {
    background-color:#cbd5e1;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.add-book {
    margin-block:30px;
    display:flex;
    align-items:center;
    margin:30px auto;
    padding-block:10px;
    padding-inline:20px;
}

.add-book-section{
    position:fixed;
    /* display:flex; */
    display: none;
    align-items:center;
    justify-content: center;
    inset: 0;
    background:rgba(83, 81, 78, 0.397);
    backdrop-filter: blur(2px);
}


.form {
    padding: 30px 40px;
    background-color: white;
    border-radius:30px;
  }
 
.form h2 {
    margin-bottom:10px;
}


  .form-control {
    margin-bottom: 5px;
    padding-bottom: 10px;
    position: relative;
  }
  
  .form-control label {
    color: #777;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control input {
    border: 1px solid black;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
  
  .form-control input:focus {
    outline: 0;
    border-color:orange;
}
  
  .form-control.success input {
    border-color: var(--success-color);
  }
  
  .form-control.error input {
    border-color: var(--error-color);
  }
  
  .form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
  
  .form-control.error small {
    visibility: visible;
  }

  .form .buttons {
    display:flex;
    justify-content: flex-end;
    gap:20px;
}
  .form button {
    cursor: pointer;
    background-color: hsl(147, 89%, 37%);
    border: 2px solid #0ab457;
    border-radius: 10px;
    color: #fff;
    display: block;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
  }

  .form button:hover {
    background-color:hsl(147, 89%, 57%);
    border: 2px solid hsl(147, 89%, 57%);
  }
  
.form select {
    padding:10px;
    outline:none;
    width:100%;
}

.form select:focus{
    border:2px solid orange;
}